In [8]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
loans_df = pd.read_csv('loan_status.csv')
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [9]:
# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [10]:
loans_df

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36418,Fully_Paid,99999999,Short_Term,742.0,1190046.0,<_1_year,Rent,Other,11969.81,20.1,16.0,9,0,37392,134442.0,0.0,0.0
36419,Fully_Paid,44484,Short_Term,717.0,1152426.0,10+_years,Home_Mortgage,Other,6280.64,21.0,12.0,6,0,961932,0.0,0.0,0.0
36420,Fully_Paid,210584,Short_Term,719.0,783389.0,1_year,Home_Mortgage,Other,3727.61,17.4,18.0,6,0,456,259160.0,0.0,0.0
36421,Fully_Paid,99999999,Short_Term,732.0,1289416.0,1_year,Rent,Debt_Consolidation,13109.05,9.4,21.0,22,0,153045,509234.0,0.0,0.0
36422,Fully_Paid,103136,Short_Term,742.0,1150545.0,6_years,Rent,Debt_Consolidation,7315.57,18.8,18.0,12,1,109554,537548.0,1.0,0.0

In [11]:
loans_df.columns

Index(['Loan_Status', 'Current_Loan_Amount', 'Term', 'Credit_Score',
       'Annual_Income', 'Years_in_current_job', 'Home_Ownership', 'Purpose',
       'Monthly_Debt', 'Years_of_Credit_History',
       'Months_since_last_delinquent', 'Number_of_Open_Accounts',
       'Number_of_Credit_Problems', 'Current_Credit_Balance',
       'Maximum_Open_Credit', 'Bankruptcies', 'Tax_Liens'],
      dtype='object')

In [12]:
# Check the unique value counts to see if binning is required
loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

C:\Users\saran\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [18]:
loans_df

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36418,99999999,742.0,1190046.0,11969.81,20.1,16.0,9,0,37392,134442.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36419,44484,717.0,1152426.0,6280.64,21.0,12.0,6,0,961932,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36420,210584,719.0,783389.0,3727.61,17.4,18.0,6,0,456,259160.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36421,99999999,732.0,1289416.0,13109.05,9.4,21.0,22,0,153045,509234.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
36422,103136,742.0,1150545.0,7315.57,18.8,18.0,12,1,109554,537548.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [15]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
X_train

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
26239,78892,738.0,1168044.0,12167.22,14.3,46.0,16,0,48545,1196118.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4513,349140,649.0,1413467.0,16019.28,28.1,76.0,5,0,120669,165946.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28928,222596,737.0,865089.0,7497.40,13.4,8.0,7,0,184319,233772.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3987,99999999,733.0,626164.0,15967.03,29.5,70.0,7,0,485260,807290.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8778,88836,722.0,928435.0,7210.88,20.1,33.0,12,2,70205,182270.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4904,471240,6990.0,1356600.0,28375.55,11.1,30.0,11,0,266361,343442.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9418,225896,698.0,6534613.0,37356.28,20.5,51.0,11,0,279775,570350.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
18428,99999999,748.0,1164738.0,9269.34,16.3,78.0,23,0,274075,1113530.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15856,378158,720.0,908105.0,18464.77,16.5,34.0,5,0,216296,280764.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12266,301554,690.0,999457.0,26985.51,8.9,37.0,15,0,226062,278168.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [23]:
X_train_scaled.shape

(27317, 36)

In [24]:
y_test.shape

(9106,)

In [25]:
X_test

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
1008,199100,723.0,1184593.0,16386.93,15.0,82.0,16,0,191824,528858.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
15043,389466,715.0,1177259.0,36298.55,25.7,5.0,12,4,210292,582538.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12514,494890,725.0,1971896.0,27442.08,29.3,13.0,21,0,246411,724174.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5132,220132,733.0,988589.0,13428.25,22.7,18.0,9,1,184699,587532.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
21448,504658,685.0,3874100.0,4100.20,16.0,1.0,7,0,167827,397408.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23194,441056,654.0,954655.0,21002.41,14.0,42.0,16,1,214491,578908.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12754,624074,651.0,1251188.0,33051.83,20.9,16.0,18,0,379905,642158.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
947,539792,724.0,1326542.0,16028.97,26.1,23.0,8,0,583053,706926.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8544,302038,683.0,725363.0,17711.04,9.5,24.0,14,0,254429,325160.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3188,221320,733.0,1070384.0,13915.03,14.5,74.0,16,0,351899,655116.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [19]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [20]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 1s 811us/step - loss: 0.4269 - accuracy: 0.8332
Epoch 2/50
854/854 [==============================] - 1s 705us/step - loss: 0.3864 - accuracy: 0.8487
Epoch 3/50
854/854 [==============================] - 1s 718us/step - loss: 0.3828 - accuracy: 0.8488
Epoch 4/50
854/854 [==============================] - 1s 705us/step - loss: 0.3807 - accuracy: 0.8492
Epoch 5/50
854/854 [==============================] - 1s 707us/step - loss: 0.3796 - accuracy: 0.8493
Epoch 6/50
854/854 [==============================] - 1s 699us/step - loss: 0.3780 - accuracy: 0.8492
Epoch 7/50
854/854 [==============================] - 1s 766us/step - loss: 0.3770 - accuracy: 0.8494
Epoch 8/50
854/854 [==============================] - 1s 698us/step - loss: 0.3765 - accuracy: 0.8494
Epoch 9/50
854/854 [==============================] - 1s 827us/step - loss: 0.3759 - accuracy: 0.8497
Epoch 10/50
854/854 [==============================] - 1s 818us/step - loss: 0.3750 - accuracy: 0.8492
Epoch 11/50
854/854 [==============================] - 1s 735us/step - loss: 0.3748 - accuracy: 0.8500
Epoch 12/50
854/854 [==============================] - 1s 724us/step - loss: 0.3741 - accuracy: 0.8494
Epoch 13/50
854/854 [==============================] - 1s 726us/step - loss: 0.3733 - accuracy: 0.8499
Epoch 14/50
854/854 [==============================] - 1s 741us/step - loss: 0.3730 - accuracy: 0.8496
Epoch 15/50
854/854 [==============================] - 1s 822us/step - loss: 0.3723 - accuracy: 0.8493
Epoch 16/50
854/854 [==============================] - 1s 722us/step - loss: 0.3723 - accuracy: 0.8495
Epoch 17/50
854/854 [==============================] - 1s 726us/step - loss: 0.3718 - accuracy: 0.8500
Epoch 18/50
854/854 [==============================] - 1s 745us/step - loss: 0.3712 - accuracy: 0.8499
Epoch 19/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3707 - accuracy: 0.8508
Epoch 20/50
854/854 [==============================] - 1s 777us/step - loss: 0.3707 - accuracy: 0.8501
Epoch 21/50
854/854 [==============================] - 1s 734us/step - loss: 0.3704 - accuracy: 0.8499
Epoch 22/50
854/854 [==============================] - 1s 709us/step - loss: 0.3700 - accuracy: 0.8498
Epoch 23/50
854/854 [==============================] - 1s 707us/step - loss: 0.3700 - accuracy: 0.8499
Epoch 24/50
854/854 [==============================] - 1s 715us/step - loss: 0.3687 - accuracy: 0.8503
Epoch 25/50
854/854 [==============================] - 1s 709us/step - loss: 0.3683 - accuracy: 0.8502
Epoch 26/50
854/854 [==============================] - 1s 713us/step - loss: 0.3688 - accuracy: 0.8502
Epoch 27/50
854/854 [==============================] - 1s 721us/step - loss: 0.3686 - accuracy: 0.8505
Epoch 28/50
854/854 [==============================] - 1s 798us/step - loss: 0.3684 - accuracy: 0.8505
Epoch 29/50
854/854 [==============================] - 1s 803us/step - loss: 0.3681 - accuracy: 0.8504
Epoch 30/50
854/854 [==============================] - 1s 710us/step - loss: 0.3675 - accuracy: 0.8503
Epoch 31/50
854/854 [==============================] - 1s 815us/step - loss: 0.3674 - accuracy: 0.8509
Epoch 32/50
854/854 [==============================] - 1s 725us/step - loss: 0.3673 - accuracy: 0.8508
Epoch 33/50
854/854 [==============================] - 1s 797us/step - loss: 0.3670 - accuracy: 0.8511
Epoch 34/50
854/854 [==============================] - 1s 710us/step - loss: 0.3669 - accuracy: 0.8505
Epoch 35/50
854/854 [==============================] - 1s 796us/step - loss: 0.3665 - accuracy: 0.8510
Epoch 36/50
854/854 [==============================] - 1s 717us/step - loss: 0.3658 - accuracy: 0.8512
Epoch 37/50
854/854 [==============================] - 1s 748us/step - loss: 0.3658 - accuracy: 0.8509
Epoch 38/50
854/854 [==============================] - 1s 770us/step - loss: 0.3653 - accuracy: 0.8516
Epoch 39/50
854/854 [==============================] - 1s 752us/step - loss: 0.3653 - accuracy: 0.8511
Epoch 40/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3651 - accuracy: 0.8513
Epoch 41/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3648 - accuracy: 0.8512
Epoch 42/50
854/854 [==============================] - 1s 782us/step - loss: 0.3644 - accuracy: 0.8515
Epoch 43/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3639 - accuracy: 0.8518
Epoch 44/50
854/854 [==============================] - 1s 768us/step - loss: 0.3639 - accuracy: 0.8517
Epoch 45/50
854/854 [==============================] - 1s 826us/step - loss: 0.3639 - accuracy: 0.8517
Epoch 46/50
854/854 [==============================] - 1s 918us/step - loss: 0.3636 - accuracy: 0.8512
Epoch 47/50
854/854 [==============================] - 1s 805us/step - loss: 0.3630 - accuracy: 0.8523
Epoch 48/50
854/854 [==============================] - 1s 809us/step - loss: 0.3633 - accuracy: 0.8522
Epoch 49/50
854/854 [==============================] - 1s 748us/step - loss: 0.3630 - accuracy: 0.8519
Epoch 50/50
854/854 [==============================] - 1s 791us/step - loss: 0.3628 - accuracy: 0.8516
285/285 - 0s - loss: 0.3925 - accuracy: 0.8463
Loss: 0.3924775719642639, Accuracy: 0.8462552428245544

In [26]:
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 24)                888
_________________________________________________________________
dense_1 (Dense)              (None, 12)                300
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 13
=================================================================
Total params: 1,201
Trainable params: 1,201
Non-trainable params: 0
_________________________________________________________________